*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color : #ef4648;
    --main-color-rgb : 239, 70, 72;
    --font-color : #212529;
    --font-color-rgb : 33, 37, 41;
    --font-size : 15px;
    --font-weight : 600;
    --first-font-family : 'Roboto',sans-serif; 
    --second-font-family : 'Dominary'; 
    --white : white;
    --white-rgb : 255, 255, 255;
}
html,body{
    scroll-behavior: smooth;
}
body{
    color: var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--first-font-family);
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; 
    height: 100vh;
    flex: none;
}
section{
    flex: none;
}
ul,ol{
    list-style: none;
    padding: 0  ;
}
a{
    cursor: pointer;
    text-decoration: none;
}
header{
    width: 90%;
    background-color: var(--white);
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 65px;
    z-index: 99;
} 
nav > ul{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 0;
}
.dropdown-toggle::after{
    border: none;
}
.banner{
    background-image: url(../images/banner/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.dropdown{
    
}
.logo a img{
    

}
