*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color : #ef4648;
    --main-color-rgb : 239, 70, 72;
    --font-color : #212529;
    --font-color-rgb : 33, 37, 41;
    --font-size : 15px;
    --font-weight : 600;
    --first-font-family : 'Roboto',sans-serif; 
    --second-font-family : 'Dominary'; 
}
body{
    color: var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--first-font-family);
}
ul,ol{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/* .wrapper{
    overflow-x: scroll;
} */
header{
        width: 100%;
        background-color: var(--white);
        /* box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04); */
        padding: 5px 15px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    
    /* position: fixed; */
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.dropdown-toggle::after{
    border: none;
}
.banner{
    background-image: url(../images/banner/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-nav{
    background-color: rgb(255, 245, 245);
}
